<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Interzonas</title>

  <!-- <link rel="stylesheet" href="css/screen.min.css" /> -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/interzonas.css">
  <link rel="stylesheet" href="css/media.css">
</head>
<body>
   <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script> 
   <!-- Sección 1 -->
  <section id="slide1" class="uno"> 
  <div class="row">
    <div class="large-12 columns">
      <div class="punk"><p class="intertitle">Punk's not dead, Taller estratégico en proyectos web</p>
       <img src="img/interzonas1.png" alt="Interzonas">
      </div>
    </div>
  </div>
</section>
<!-- Menú -->
 <section data-magellan-expedition='fixed' id="menu"> 
  <div class="row">
    <div class="large-12 columns">
    <div id="section-nav" class="section-nav" >
          
            <ul class="nav">
              <li><a id="enlace-inicio" href="#inicio" class="active">Inicio</a></li>
              <li><a id="enlace-proyectos" href="#slide2" class="">Proyectos</a></li>
              <li><a id="enlace-nosotros" href="#slide3" class="">Nosotros</a></li>
               <li><a id="enlace-manifisto" href="#manifiesto" class="">Manifiesto</a></li>
              <li><a id="enlace-contactar" href="#contactar">Contactar</a></li>
            </ul>
         
        </div>
      </div> 
    </div>
  </section>

  <!-- Sección 2 -->
<section id="slide2"> 
  <div id="container" class="container"></div>
   <div class="row">
    <div class="large-12 columns">
    <div class="proyectos-top"><h2>proyectos</h2>
      <h3>Nuestros experimentos, proyectos para clientes, y acompañamientos. Si aun no ves claro en que podemos trabajar juntos, <a href="#contactar">pregunta</a> igual te sorpredemos</h3>
    </div>
   
    <!-- PROYECTOS GRID -->
<div id="proyectos-grid">
  <div class="row large-12 grid">
    <div id="columna1" class="c5">
      
     <div class="item-wrapper w5 i1">
            <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="twitterjokoa">
                        <h2 class="hitem">Twitter Jokoa</h2>
                        <p>Juego interactivo basado en twitter</p>
                       </a>
                    </div>
                </div>
    </div>
      <div class="item-wrapper w5 i2">
            <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="summer">
                        <h2>Summer of labs</h2>
                        <p>Visualización de datos</p>
                       </a>
                    </div>
              </div>
      </div>
    </div>
    <div id="columna2" class="c5">
      <div class="item-wrapper w5 i1">
       <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="b2n">
                        <h2>Build to net</h2>
                        <p>Consultoría Drupal</p>
                       </a>
                    </div>
                </div>
    </div>
    <div class="item-wrapper w5 i2">
        <div class="item item-u no-item">
                   <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="navarra">
                        <h2>Navarra en colores</h2>
                        <p>Drupal Open data</p>
                       </a>
                    </div>
          </div>
      </div>
    </div>

    <div id="columna3" class="c5">
         <div class="item-wrapper w5 i1 up">
        <div class="item item-u">
                  
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="aiaraldea">
                        <h2>Aiaraldea web</h2>
                        <p>Drupal</p>
                       </a>
                    </div>
        </div>
    </div>
    <div class="item-wrapper w5 i2 up">
      <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="agile">
                        <h2>Agile inception</h2>
                        <p>Kako</p>
                       </a>
                    </div>
        </div>
      </div>
    </div>

  <div id="columna4" class="c5">
  
     <div class="item-wrapper w5 i1">
       <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="iturrama">
                        <h2>Instituto Iturrama</h2>
                        <p>Aplicación Drupal</p>
                       </a>
                    </div>
                </div>
    </div>
    <div class="item-wrapper w5 i2">
          <div class="item item-u no-item">
                <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="eguraldia">
                        <h2>Minimal eguraldia</h2>
                        <p>Angularjs App web concept</p>
                       </a>
                    </div>
          </div>
      </div>
  </div>

  <div id="columna5" class="c5">
     <div class="item-wrapper w5 i1">
          <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="fotomaratoia">
                        <h2>Fotoma ratoia</h2>
                        <p>Fotomaraton html5</p>
                       </a>
                    </div>
          </div>
    </div>
    <div class="item-wrapper w5 i2">
        <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo proyectos" data-orbit-link="formacion">
                        <h2>Gobierno de Navarra</h2>
                        <p>Formación Drupal</p>
                       </a>
                    </div>
                </div>
      </div>

     </div>
   </div>
  </div> 
  <div class="proyectos-bottom">
  </div>
 </div>
</div>
 <!-- FIN DE GRID -->
</section> <!-- FIN DE SECCION PROYECTOS -->

<div class="proyectos-slide" id="proyectos-slide">
      <div class="proyectos-wrapper" id="proyecto-wrapper">
        <div class="proyectos-todos" id="proyectos-todos">
          <ul class="slides" data-orbit data-options="timer_speed:false; bullets:false;">
            <!-- Comienza Proyecto1 -->
              <li id="proyecto1" class="proyecto-box" data-orbit-slide="fotomaratoia">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Fotomaratoia</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>

                          <p>En estos momentos el proyecto en github no rula en lo útlimos navegadores por el cambio del draff en el getUserMedia y el avance del <a href="http://www.webrtc.org/">http://www.webrtc.org/</a> si quieres una demos <a href="#contacta">avisanos</a></p>>
                        </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Javascript, Webrtc, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="http://blog.elfilo.net/articles/fotomaratoia/">fotomaratia.interzonas.info</a></p>
                      <p>Github: <a href="https://github.com/karlosgliberal/fotomaraton">github.com/karlosgliberal/fotomaraton</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
              </li><!-- Fin de Proyecto 1 -->
            <!-- Comienza Proyecto 2 -->
               <li id="proyecto2" class="proyecto-box" data-orbit-slide="twitterjokoa">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Juego del twitter</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Juego multiusuario manejado por Twitter</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>Ha petición de <a href="http://eragin.com">eragin.com</a> para el evento <a href="http://xare.eu">xare.eu</a> nos encargaron que hiciéramos un juego con twitter y el euskera como protagonistas. Después de darle unas vuelta llegamos ha esta idea.</p>
                          <p>Un juego estética 8bits (somos unos modernos XD) donde un Arrano (Ágila en euskera) quiere capturar a un (Txori pájaro en eskera) a toda costa. Curiosamente el txori solo tiene su Jaula para protegerse del Arrano. El juego parece simple (lo es) pero es en el manejo de los pájaros donde recae la gracia, para poder mover los pájaros tienes que enviar un twitt con unas intrucciones. Por ejemplo si quieres huir del arrano seria:</p>
                          <p>
                            #birdbattle txori abajo
                            #birdbattle txori derecha
                          </p>
                          <p>Y con el Arrano lo mismo</p>
                          <p>Para este juego (Experimento) hemos <a href="http://nodejs.org">nodejs</a> para hacer la escucha del hashtag de twiiter, <a href="http://socket.io/">socket.io</a> para el tiempo real de esta manera puedes ver como otros juegan o los movimientos del contrario, y <a href="http://impactjs.com/">impactjs.com</a> un framework para hacer juegos en html5 (Prometo hacer un post tecnico) y <a href="http://couchdb.apache.org/">couchdb</a> como sistema de persistencia de datos.</p>
                          <p>El resultado es un experimento complejo, muy mejorable, pero que nos ha permitido experimentar con tecnologías de juegos y el tiempo real (aunque en este caso se algo menor)</p>
                          <p>Cualquier idea ya sabes (pide por esa boquita)</p>

                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/twitter2.png" alt="Juego de Twitter" >
                        <img src="img/proyectos/html5.png" alt="Juego de Twitter">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, impact.js, socket.io, couchdb</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="http://birdbattle.interzonas.info">birdbattle.interzonas.info</a></p>
                      <p>github: <a href="https://github.com/karlosgliberal/birdbattle">github.com/karlosgliberal</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 2 -->
               <!-- Comienza Proyecto 3 -->
               <li id="proyecto3" class="proyecto-box" data-orbit-slide="aiaraldea">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Aiaraldea.com</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Seguimiento y desarrollo Drupal</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>En el Valle de Ayala y el Alto Nervión Ayala Aiaraldea que quiren vivir en Euskera y para eso amplificarlos. Montarón hace tres años el portal de noticias <a href="http://www.aiaraldea.com/">Aiaraldea.com</a></p>
                          <p>De la mano del drupalero Iñaki nos han invitado a ayudarles con el portal para desarrollar nuevas funcionalidades y mejoras posibles</p>

                          <p>En interzonas no nos ceñimos exlusivamente a un entorno tecnolígico como si lo hacíamos con drupal en investic. Ahora somos mas "selectos" a la hora de meternos en proyectos con Drupal, hemos aprendido que la gestión de contenidos es compleja</p>

                          <p>Con Aiaraldea vimos claro volver a trabajar con drupal por varios motivos: El código del proyecto con el que estamos trabajando es una jozada muy bien definido y cuidado, las personas que matienen el portal son pura pasión, y  poder hacer aunque sea poco por normalizar el uso del Euskera.</p>
                          <p>Comentaremos los neuvos desarrollos que hagamos en <a href="http://www.aiaraldea.com/">Aiaraldea.com</a></p>

                      </div>
                    </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/aiaraldea1.jpg" alt="Fm Aiaraldea" >
                        <img src="img/proyectos/aiaraldea2.jpg" alt="Aiaraldea.com">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Drupal, Acompañamiento</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="http://www.aiaraldea.com/">aiaraldea.com</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 3 -->
                <!-- Comienza Proyecto 4 -->
               <li id="proyecto4" class="proyecto-box" data-orbit-slide="b2n">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Build to net</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/b2n2.jpg" alt="Build to Net" >
                        <img src="img/proyectos/drupal.png" alt="Interzonas drupal">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 4 -->
               <!-- Comienza Proyecto 5 -->
               <li id="proyecto5" class="proyecto-box" data-orbit-slide="iturrama">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Instituto iturrama</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/ieiturrama.png" alt="Instituto Iturrama" >
                        <img src="img/proyectos/drupal.png" alt="Instituto Iturrrama">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 5 -->
               <!-- Comienza Proyecto 6 -->
               <li id="proyecto6" class="proyecto-box" data-orbit-slide="summer">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">summer of labs</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/summer1.png" alt="Summer of labs Euskadi" >
                        <img src="img/proyectos/fluidinfo.png" alt="Summer of labs Euskadi visualización de datos">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 6 -->
                <!-- Comienza Proyecto 7 -->
               <li id="proyecto7" class="proyecto-box" data-orbit-slide="agile">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Agile inception</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/agile1.png" alt="Inception" >
                        <img src="img/proyectos/agile.png" alt="Agile inception">

                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 7 -->
               <!-- Comienza Proyecto 8 -->
               <li id="proyecto8" class="proyecto-box">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Agile inception</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 8 -->
               <!-- Comienza Proyecto 8.1 -->
               <li id="proyecto81" class="proyecto-box" data-orbit-slide="formacion">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Formación Drupal</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 8.1 -->
                <!-- Comienza Proyecto 9 -->
               <li id="proyecto9" class="proyecto-box" data-orbit-slide="navarra">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Navarra en colores</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img src="img/proyectos/tilemill.png" alt="Tilemill">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 9 -->
                               <!-- Comienza Proyecto 10 -->
               <li id="proyecto10" class="proyecto-box" data-orbit-slide="eguraldia">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Minimal eguraldia app</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/eguraldia.png" alt="Minimal app Eguraldia" >
                        <img src="img/proyectos/angular.png" alt="Angular.js">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 10 -->

          </ul>
        </div>
      </div>
 </div>
 <section id="slide3"> 
  <div class="supercontainer">
      <div class="row">
      <div id="n-quienes" class="large-12 columns"> 
         <div class="large-12 columns">
          <h2 class="h-nosotros">NOSOTROS</h2><!-- <p class="n-presentacion">El "nosotros" del pasado fue Investic. El "nosotros" del presente es Interzonas. Queremos hacer los proyectos más flexibles, más agíles y más rápidos.</p> -->
          <h3>El "nosotros" del pasado fue Investic. El "nosotros" del presente es Interzonas. Queremos hacer los proyectos más flexibles, más agíles y más rápidos.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <ul class="large-block-grid-2 nosotros-content">
          <li>
            <img src="/img/yo.png"  alt="Aitor Resano">
            <h5 class="nombre">Aitor Resano</h5>
            <p class="sub-nombre">Experto en videojuegos</p>
            <p class="nosotros-texto">Las idea era sencilla en un principio, por un lado crear una herramienta de inscripción para el encuentro SummerOfLabs y por otro lado con algunos de los datos de esa inscripción realizar una</p>
            <p class="nosotros-texto"><strong>Una frase:</strong> Sueñan los androides con ovejas eléctricas?</p>
            <p class="nosotros-texto"><strong>Una película:</strong> Blade Runner</p>
            <p class="nosotros-texto"><strong>Un libro:</strong> Ensayo sobre la ceguera</p>
            <p class="nosotros-texto"><strong>Tags:</strong> #videojuegos #cultura dispersa #teclas y botones</p>
          </li>
          <li>
            <img src="/img/yo.png" alt="Karlos g Liberal">
            <h5 class="nombre">Karlos g liberal</h5>
            <p class="sub-nombre">Explorador web</p>
            <p class="nosotros-texto">Llevo mas de 12 años haciendo web, es mi pasión y parte de mi vida. Veo que la experiencia acumulada me da una visión amplia para darme cuanta de la gran importancia que tendra la web en nuestras vidas. 
           </p>
            <p class="nosotros-texto"><strong>Una frase:</strong> Sueñan los androides con ovejas metálicas?</p>
            <p class="nosotros-texto"><strong>Una película:</strong> Blade Runner</p>
            <p class="nosotros-texto"><strong>Un libro:</strong>aqui libro</p>
            <p class="nosotros-texto"><strong>Tags:</strong> #videojuegos #cultura dispersa #teclas y botones</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="i-flechas">
      <span>&larr;</span><span>&rarr;</span>
      <p class="instrucciones">Utiliza tu teclado para cambiar la imágen de fondo. Sincronización continua con Instagram <a href="http://instagram.com/aitor_rl" target="_blank"> Aitor</a>, <a href="http://instagram.com/patxangas" target="_blank">Karlos</a></p>
    </div>
  </div>

</section>

<!-- Seccion 3.1 -->
<section id="manifiesto">
<div class="row">
    <div class="large-12 columns">
      <div class="manifiesto-wrapper">
        <p class="texto-manifiesto">La web está en todos los sitios, en tu bolsillo, en tu tele en el ambiente, nos atraé y nos atrapa. Pero la web es punki, la web es contestataria, libre, anarca, autónoma, brutal y despiadada, es un reflejo de los tiempos que vivimos. Nosotros lo hemos aceptado, hemos aceptado que <strong>LA WEB ES PUNK.</strong> Si tienes alguna idea entorno a la web, lo que sea, incluso si es hippy </p>
      <div class="pide"><img src="img/pide.png" alt="Pide por esa boquita"></div>
    </div>
    </div>
  </div>

</section>

   <!-- Sección 4 -->
   <section id="contactar"></section> 
   <section id="slide4"> 
  <div class="row">
    <div class="large-12 columns">
      <h2>CONTACTAR</h2>
      <h3>En que podemos ayudarte?</h3>
    </div>
  </div>
  <div class="row contacta-wrapper">
    <div class="large-4 columns telefono">
      <h5 class="contacta">Hangout</h5>
      <p class="texto-contacta"><a href="#">Te invitamos?</a></p>
    </div>
    <div class="large-4 columns mail">
      <h5 class="contacta">Mail</h5>
     <p class="texto-contacta"><a href="mailto:hola@interzonas.info">hola@interzonas.info</a></p>
    </div>
    <div class="large-4 columns hablamos" id="formulario">
       <h5 class="contacta">Hablamos?</h5>
       <p class="texto-contacta"><a href="/">Formulario de contacto</a></p>
    </div>
    <div class=" large-12 fin-contacta"></div>
  </div>
      <div id="f-contacto">
          <div class="form-close">
            <a class="x">×</a>
          </div>
      <form>
      <div class="row">
        <div class="large-8 columns f-name">
          <label>Nombre</label>
          <input id="formularioNombre" class="fnombre" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns f-text">
          <label>Pide por esa boquita!</label>
          <textarea id="formularioTexto" class="f-texto"></textarea>
       </div>
     </div>
     <div id="enviar" class="row">
      <div class="large-8 columns">
        <!-- <a id="enter" type="button" class="f-enviar">Enviar</a> -->
        <a id="enter" class="f-enviar">Enviar</a>
      </div>
    </div>
  </form>
       </div>
  <div class="row">
  <div class="small-3 small-centered columns redes">
      <ul class="i-redes">
      <li><a href="/"><img src="img/google.png" alt="Google+ Interzonas"></a></li>
      <li><a href="/"><img src="img/twitter.png" alt="twitter Interzonas"></a></li>
      <li><a href="/"><img src="img/facebook.png" alt="Facebook Interzonas"></a></li>
      </ul>
    </div>
  </div>
</section>
  <section id="footer"> 
     <div class="tri"></div>
     <div class="row">
      <div class="large-12 columns foo-texto">
      <p>Interzonas - Algo reservados pero muy majos en general - </p>
      </div> 
    </div>
</section>  

</body>

  <script type="text/javascript" src="//use.typekit.net/kzu5xwx.js"></script>
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/vendor/jquery.smooth-scroll.min.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/vendor/fss.js"></script>
  <script src="js/app.js"></script>
  <script>  
    $(document).foundation();
  </script>
</html>