<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Interzonas</title>

  <!-- <link rel="stylesheet" href="css/screen.min.css" /> -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/interzonas.css">
  <link rel="stylesheet" href="css/media.css">
</head>
<body>
   <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script> 
   <!-- Sección 1 -->
  <section id="slide1" class="uno"> 
  <div class="row">
    <div class="large-12 columns">
      <div class="punk"><p class="intertitle">Punk's not dead, consultiría estrégica en proyectos web</p>
       <img src="img/interzonas.png">
      </div>
    </div>
  </div>
</section>
<!-- Menú -->
 <section data-magellan-expedition='fixed' id="menu"> 
  <div class="row">
    <div class="large-12 columns">
    <div id="section-nav" class="section-nav" >
          
            <ul class="nav">
              <li><a id="enlace-inicio" href="#inicio" class="active">Inicio</a></li>
              <li><a id="enlace-proyectos" href="#slide2" class="">Proyectos</a></li>
              <li><a id="enlace-nosotros" href="#slide3" class="">Nosotros</a></li>
               <li><a id="enlace-manifisto" href="#manifiesto" class="">Manifiesto</a></li>
              <li><a id="enlace-contactar" href="#contactar">Contactar</a></li>
            </ul>
         
        </div>
      </div> 
    </div>
  </section>

  <!-- Sección 2 -->
<section id="slide2"> 
  <div id="container" class="container"></div>
   <div class="row">
    <div class="large-12 columns">
    <div class="proyectos-top"><h2>proyectos</h2><h3>Drupal, Html5, Javascript</h3></div>
   
    <!-- PROYECTOS GRID -->
<div id="proyectos-grid">
  <div class="row large-12 grid">
    <div id="columna1" class="c5">
      
     <div class="item-wrapper w5 i1">
            <div id="proyecto1" class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2 class="hitem">Twitter Jokoa</h2>
                        <p>Juego interactivo basado en twitter</p>
                       </a>
                    </div>
                </div>
    </div>
      <div class="item-wrapper w5 i2">
            <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Summer of labs</h2>
                        <p>Visualización de datos</p>
                       </a>
                    </div>
              </div>
      </div>
    </div>


    <div id="columna2" class="c5">
      <div class="item-wrapper w5 i1">
       <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Build to net</h2>
                        <p>Consultoría Drupal</p>
                       </a>
                    </div>
                </div>
    </div>
    <div class="item-wrapper w5 i2">
        <div class="item item-u no-item">
                   <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Navarra en colores</h2>
                        <p>Drupal Open data</p>
                       </a>
                    </div>
          </div>
      </div>
    </div>

    <div id="columna3" class="c5">
         <div class="item-wrapper w5 i1 up">
        <div class="item item-u">
                  
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Aiaraldea web</h2>
                        <p>Drupal</p>
                       </a>
                    </div>
        </div>
    </div>
    <div class="item-wrapper w5 i2 up">
      <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Agile inception</h2>
                        <p>Kako</p>
                       </a>
                    </div>
        </div>
      </div>
    </div>

  <div id="columna4" class="c5">
  
     <div class="item-wrapper w5 i1">
       <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Instituto Iturrama</h2>
                        <p>Aplicación Drupal</p>
                       </a>
                    </div>
                </div>
    </div>
    <div class="item-wrapper w5 i2">
          <div class="item item-u no-item">
                <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Minimal eguraldia</h2>
                        <p>Angularjs App web concept</p>
                       </a>
                    </div>
          </div>
      </div>
  </div>

  <div id="columna5" class="c5">
     <div class="item-wrapper w5 i1">
          <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Fotoma ratoia</h2>
                        <p>Fotomaraton html5</p>
                       </a>
                    </div>
          </div>
    </div>
    <div class="item-wrapper w5 i2">
        <div class="item item-u">
                    <div class="content">
                        <a href="#" class="ddinfo">
                        <h2>Gobierno de Navarra</h2>
                        <p>Formación Drupal</p>
                       </a>
                    </div>
                </div>
      </div>

     </div>
   </div>
  </div>
  <div class="proyectos-bottom">
  </div>
</div>
 <!-- FIN DE GRID -->
</section> <!-- FIN DE SECCION PROYECTOS -->

<div class="proyectos-slide" id="proyectos-slide">
      <div class="proyectos-wrapper" id="proyecto-wrapper">
        <div class="proyectos-todos" id="proyectos-todos">
          <ul class="slides" data-orbit data-options="timer_speed:false; bullets:false;">
            <!-- Comienza Proyecto 1 -->
               <li id="proyecto1" class="proyecto-box">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Fotomaratoia 1</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: 
                          <strong>Node.js powered</strong>, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante html5 que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
            </li><!-- Fin de Proyecto 1 -->
         
            <!-- Comienza Proyecto 2 -->
               <li id="proyecto2" class="proyecto-box">
              <!-- Barra de navegación TOP -->
                 <div class="header">
                    <div class="proyectos-nav-top">
                     
                    </div>
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Twitter Jokoa</h2>
                      </div>
                    </div>
                  </div>

              <div class="row">
                 <div class="large-12 columns">
               </div>
              </div>
              <div class="row">
                <div class="large-12 columns"><h4>Juego interactivo a través de twitter</h4></div>
              </div>
              <!-- Aqui contenido -->
               <div class="row">
        
                  <div class="contenido-wrapper">
                   <div class="large-8 columns i-content">
                    <div class="dent"></div>
                    <div class="contenido-int">
                    <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                    <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                    <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                    <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante html5 que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                   </div>
                   </div>
                    <div class="large-4 columns imagenes">
                    <img src="img/proyectos/mara.png">
                    <img src="img/proyectos/aitor.png">
                   </div>
                  </div>
              
               </div>
               <div class="row">
                <div class="large-12 columns tags"> 
                  <div class="tech"></div>
                  <p>Node.js, Drupal, D3, Html5</p>
                </div>
               </div>
                <div class="row">
                <div class="large-12 columns links"> 
                  <div class="enlaces"></div>
                  <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p></div>
               </div>
              <!-- Barra de navegación FOOTER -->
                <div class="proyectos-nav">
                      <div class="close"> <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> </div>
                 </div>
            </li>

          </ul>
        </div>
      </div>
 </div>
 <section id="slide3"> 
  <div class="supercontainer">
      <div class="row">
      <div id="n-quienes" class="large-12 columns"> 
         <div class="large-12 columns">
          <h2 class="h-nosotros">NOSOTROS</h2><p class="n-presentacion">Aqui texto de presentación y breve introdución a la descripción de cada perfil</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <ul class="large-block-grid-2 nosotros-content">
          <li>
            <img src="/img/yo.png">
            <h5 class="nombre">Aitor Resano</h5>
            <p class="sub-nombre">Experto en videojuegos</p>
            <p class="nosotros-texto">Las idea era sencilla en un principio, por un lado crear una herramienta de inscripción para el encuentro SummerOfLabs y por otro lado con algunos de los datos de esa inscripción realizar una</p>
          </li>
          <li>
            <img src="/img/yo.png">
            <h5 class="nombre">Karlos g liberal</h5>
            <p class="sub-nombre">Fabricante de baba</p>
            <p class="nosotros-texto">La idea era sencilla en un principio, por un lado crear una herramienta de inscripción para el encuentro SummerOfLabs y por otro lado con algunos de los datos de esa inscripción realizar una</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="i-flechas">
      <span>&larr;</span><span>&rarr;</span>
      <p class="instrucciones">Utiliza tu teclado para cambiar la imágen de fondo. Sincronización continua con nuestros Instagram <a href="http://instagram.com/aitor_rl" target="_blank"> Aitor</a>, <a href="http://instagram.com/patxangas" target="_blank">Karlos</a></p>
    </div>
  </div>

</section>

<!-- Seccion 3.1 -->
<section id="manifiesto">
<div class="row">
    <div class="large-12 columns">
      <div class="manifiesto-wrapper">
        <p class="texto-manifiesto">La web está en todos los sitios, en tu bolsillo, en tu tele en el ambiente, nos atraé y nos atrapa. Pero la web es punki, la web es contestataria, libre, anarca, autónoma, brutal y despiadada, es un reflejo de los tiempos que vivimos. Nosotros lo hemos aceptado, hemos aceptado que <strong>LA WEB ES PUNK.</strong> Si tienes alguna idea entorno a la web, lo que sea, incluso si es hippy </p>
      <div class="pide"><img src="img/pide.png"></div>
    </div>
    </div>
  </div>

</section>

   <!-- Sección 4 -->
   <section id="contactar"></section> 
   <section id="slide4"> 
  <div class="row">
    <div class="large-12 columns">
      <h2>CONTACTAR</h2>
      <h3>En que podemos ayudarte?</h3>
    </div>
  </div>
  <div class="row contacta-wrapper">
    <div class="large-4 columns telefono">
      <h5 class="contacta">Hangout</h5>
      <p class="texto-contacta"><a href="#">Te invitamos?</a></p>
    </div>
    <div class="large-4 columns mail">
      <h5 class="contacta">Mail</h5>
     <p class="texto-contacta"><a href="mailto:hola@interzonas.info">hola@interzonas.info</a></p>
    </div>
    <div class="large-4 columns hablamos" id="formulario">
       <h5 class="contacta">Hablamos?</h5>
       <p class="texto-contacta"><a href="/">Formulario de contacto</a></p>
    </div>
    <div class=" large-12 fin-contacta"></div>
  </div>
      <div id="f-contacto">
          <div class="form-close">
            <a class="x">×</a>
          </div>
      <form>
      <div class="row">
        <div class="large-8 columns f-name">
          <label>Nombre</label>
          <input id="formularioNombre" class="fnombre" type="text">
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns f-text">
          <label>Pide por esa boquita!</label>
          <textarea id="formularioTexto" class="f-texto"></textarea>
       </div>
     </div>
     <div id="enviar" class="row">
      <div class="large-8 columns">
        <a id="enter" type="button" class="f-enviar">Enviar</a>
      </div>
    </div>
  </form>
       </div>
  <div class="row">
  <div class="small-3 small-centered columns redes">
      <ul class="i-redes">
      <li><a href="/"><img src="img/google.png"></a></li>
      <li><a href="/"><img src="img/twitter.png"></a></li>
      <li><a href="/"><img src="img/facebook.png"></a></li>
      </ul>
    </div>
  </div>
</section>
  <section id="footer"> 
     <div class="tri"></div>
     <div class="row">
      <div class="large-12 columns foo-texto">
      <p>Interzonas - Algo reservados pero muy majos en general - </p>
      </div> 
    </div>
</section>  

</body>

  <script type="text/javascript" src="//use.typekit.net/kzu5xwx.js"></script>
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/vendor/jquery.smooth-scroll.min.js"></script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/vendor/fss.js"></script>
  <script src="js/app.js"></script>
  <script>  
    $(document).foundation();
  </script>
</html>