              <!-- Comienza Proyecto1 -->
              <li id="proyecto1" class="proyecto-box" data-orbit-slide="fotomaratoia">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Fotomaratoia</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
              </li><!-- Fin de Proyecto 1 -->
            <!-- Comienza Proyecto 2 -->
               <li id="proyecto2" class="proyecto-box" data-orbit-slide="twitterjokoa">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Twitter Jokoa</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 2 -->
               <!-- Comienza Proyecto 3 -->
               <li id="proyecto3" class="proyecto-box" data-orbit-slide="aiaraldea">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Aiaraldea.com</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 3 -->
                <!-- Comienza Proyecto 4 -->
               <li id="proyecto4" class="proyecto-box" data-orbit-slide="b2n">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Build to net</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 4 -->
               <!-- Comienza Proyecto 5 -->
               <li id="proyecto5" class="proyecto-box" data-orbit-slide="iturrrama">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Instituto iturrama</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 5 -->
               <!-- Comienza Proyecto 6 -->
               <li id="proyecto6" class="proyecto-box" data-orbit-slide="summer">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">summer of labs</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 6 -->
                <!-- Comienza Proyecto 7 -->
               <li id="proyecto7" class="proyecto-box" data-orbit-slide="agile">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Agile inception</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 7 -->
               <!-- Comienza Proyecto 8 -->
               <li id="proyecto8" class="proyecto-box">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Agile inception</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 8 -->
               <!-- Comienza Proyecto 8 -->
               <li id="proyecto8" class="proyecto-box" data-orbit-slide="formacion">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Formación Drupal</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 8 -->
                <!-- Comienza Proyecto 9 -->
               <li id="proyecto9" class="proyecto-box" data-orbit-slide="navarra">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Navarra en colores</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 9 -->
                               <!-- Comienza Proyecto 10 -->
               <li id="proyecto10" class="proyecto-box" data-orbit-slide="eguraldia">
                 <div class="header">
                    <div class="container">
                      <div class="text">
                        <h2 class="tit-proyectos">Minimal eguraldia app</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns"><h4>Instalacion de equipo y aplicación</h4></div>
                  </div>
                 <div class="row">
                    <div class="contenido-wrapper">
                     <div class="large-8 columns i-content">
                      <div class="dent"></div>
                        <div class="contenido-int">
                          <p>El código es puro spaghetti western. Un día aprenderé que la cocina japo mola más con su rollo lean, pero por ahora todo me sale rollo italiano.</p>

                          <p>En la demo el colorpicker permite elegir el color del chroma key y cuando se pulsa a las imágenes se activa el chroma y los sustituye por la imagen elegida. Mediate socket.io mandamos al servidor tanto el buffer con la imagen del canvas modificada por seriously, así como la info del correo.</p>
                          <p>Proyecto basado en el proyecto dvm que como ponen en su descripción es esto: Node.js powered, Jitsu Hosted, WebRTC connected, 100% JavaScript, Camera > Web > Server Photobooth-style image capture program.</p>

                          <p>La idea del proyecto ha sido crear un fotomatón haciendo uso de la cámara de la máquina mediante <strong>html5</strong> que almacene las fotos en el servidor nodejs pudiendolas mandar por correo nodemailer y que se pudiera hacer un chroma key en el fondo para surtituirlo el chroma por las fotos (en este caso del evento xare.eu. Que es el que nos hizo el encargo). El chroma key lo hemos realizado con seriouslyjs.org. un proyecto brutal</p>
                       </div>
                      </div>
                      <div class="large-4 columns imagenes">
                        <img src="img/proyectos/mara.png" alt="fotomaratoia" >
                        <img alt="" src="img/proyectos/aitor.png" alt="Aitor Resano">
                      </div>
                    </div>
                   </div>
                 <div class="row">
                  <div class="large-12 columns tags"> 
                    <div class="tech"></div>
                    <p>Node.js, Drupal, D3, Html5</p>
                  </div>
                 </div>
                  <div class="row">
                    <div class="large-12 columns links"> 
                      <div class="enlaces"></div>
                      <p>Demo: <a href="/">fotomaratia.interzonas.info</a></p>
                    </div>
                 </div>
                  <div class="proyectos-nav">
                        <div class="close">
                         <a class="proyectos-cerrsr" href="#proyecto">Cerrar</a> 
                        </div>
                  </div>
               </li><!-- Fin de Proyecto 10 -->